# Android Studio / IntelliJ
.idea/
*.iml
*.iws
*.ipr
out/

# Gradle
.gradle/
build/
gradle.properties
!gradle-wrapper.properties

# Local configuration
local.properties

# Logs and captures
captures/
*.log

# Built variants
*.apk
*.aar
*.ap_
*.aab

# Keystore files
*.jks
*.keystore

# External Native Build
.externalNativeBuild/
.cxx/

# OS X
.DS_Store

# Misc
.kotlin/
